/* Ini File CSS */

/* Class */
.bg-black {
    background-color: black;
    color: antiquewhite;
}

.bg-black:hover {
    color: white;
    font-weight: bold;
    font-size: 12.75px;
}

.bg-cadet-blue {
    background-color: cadetblue;
    color:azure;

}

.bg-cadet-blue:hover {
    color: white;
    font-weight: 700;
    font-size: 12.5px;
    
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.form-group {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;
}

.form-group-kelamin {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
}

.informasi-awal {
    text-align: justify;
}

.informasi-fitur {
    text-align: justify;
}

.informasi-hasil {
    text-align: justify;
}

.keterangan-hasil {
    padding: 16px;;
}

.main-header {
    text-align: center;
    background-color: powderblue;
    border-radius: 10px;
    padding: 1px;
}

.result {
    text-align: center
}

#result-bmi {
    font-size: xxx-large;
    font-family: math;
}

.result-section {
    padding: 16px;
    text-align: center;
    background-color: gainsboro;
}

.rumus-bmi {
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: cadetblue;
    display: flex;
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* Selain Class */

button {
    border-radius: 5px;
    border: none;
    padding: 8px;
    color: antiquewhite;
}

form {
    background-color: gainsboro;
    padding: 32px;
}

footer {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    background-color: gainsboro;
    text-align: center;
    padding: 5px;
}

input[type=number] {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 12px 12px;
    margin-right: 20px;
    box-sizing: border-box;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: flex;
    gap: 60px;
    padding: 32px;
}