/* CSS Variables */
:root {
    --primary-color: cadetblue;
    --secondary-color: gainsboro;
    --text-color: antiquewhite;
}

/* Class Styles */
.bg-black {
    background-color: black;
    color: var(--text-color);
}

.bg-black:hover {
    color: white;
    font-weight: bold;
    font-size: 12.75px;
}

.bg-cadet-blue {
    background-color: var(--primary-color);
    color: azure;
}

.bg-cadet-blue:hover {
    color: white;
    font-weight: 700;
    font-size: 12.5px;
}

.container {
    display: flex;
    align-items: center; /* Menyelaraskan item secara vertikal */
    position: relative; /* Mengatur posisi relatif untuk penempatan absolut checkmark */
    padding-left: 35px; /* Memberikan ruang untuk checkmark */
}

.checkmark {
    height: 25px; /* Ukuran checkmark */
    width: 25px; /* Ukuran checkmark */
    background-color: #eee; /* Warna latar belakang checkmark */
    border-radius: 50%; /* Membuat checkmark berbentuk lingkaran */
    position: absolute; /* Menempatkan checkmark secara absolut */
    left: 0; /* Menyelaraskan ke kiri */
    top: 50%; /* Memusatkan secara vertikal */
    transform: translateY(-50%); /* Menyesuaikan untuk pemusatan vertikal */
    z-index: 1; /* Menempatkan checkmark di atas */
}

input[type="radio"] {
    opacity: 0; /* Menyembunyikan tombol radio default */
    position: absolute; /* Menempatkannya secara absolut untuk menghindari pengaruh pada tata letak */
}

input[type="radio"]:checked + .checkmark {
    background-color: cadetblue; /* Mengubah warna latar belakang saat terpilih */
}

input[type="radio"]:checked + .checkmark::after {
    content: ''; /* Menambahkan konten kosong untuk checkmark */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px; /* Ukuran checkmark */
    height: 10px; /* Ukuran checkmark */
    background-color: white; /* Warna checkmark */
    border-radius: 50%; /* Membuat checkmark berbentuk lingkaran */
    transform: translate(-50%, -50%); /* Memusatkan checkmark */
}

.form-group {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;
}

.form-group-kelamin {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
}

.informasi-awal,
.informasi-fitur,
.informasi-hasil {
    text-align: justify;
}

.keterangan-hasil {
    padding: 16px;
}

.main-header {
    text-align: center;
    background-color: powderblue;
    border-radius: 10px;
    padding: 1px;
}

.result {
    text-align: center;
}

#result-bmi {
    font-size: xxx-large;
    font-family: math;
}

.result-section {
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color);
}

.rumus-bmi {
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: var(--primary-color);
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

/* General Styles */
button {
    border-radius: 5px;
    border: none;
    padding: 8px;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

form {
    background-color: var(--secondary-color);
    padding: 32px;
}

footer {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 5px;
}

input[type=number] {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: flex;
    gap: 60px;
    padding: 32px;
}

/* Media Queries */
@media (max-width: 600px) {
    main {
        flex-direction: column;
        gap: 20px;
    }
}